<a href="https://colab.research.google.com/github/mathiasadikpon/AI/blob/main/Week_4_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 4 Homework

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


1. Load the data set

In [ ]:
url = "https://raw.githubusercontent.com/empathy87/The-Elements-of-Statistical-Learning-Python-Notebooks/master/data/mixture.txt"
# Open the url in web brower and learn its raw format

# Load to Python as a data frame
raw_data = pd.read_csv(url, sep=',')

# Display first 5 rows
raw_data.head()

         x1        x2  y
0  2.526093  0.321050  0
1  0.366954  0.031462  0
2  0.768219  0.717486  0
3  0.693436  0.777194  0
4 -0.019837  0.867254  0


2. Split the data into 80% training data and 20% test data

In [ ]:
# train_test_split
from sklearn.model_selection import train_test_split
training_data, test_data = train_test_split(raw_data, test_size=0.2)

3. Built three k-nearest-neighbor model with k = 1, 5, 25 respectively

In [ ]:
# kNN model
from sklearn.neighbors import KNeighborsClassifier
# kNN model
input_cols = ['x1', 'x2']
# k = 1
model_1nn = KNeighborsClassifier(n_neighbors=1)
model_1nn.fit(training_data[input_cols], training_data['y'])

# k = 5
model_5nn = KNeighborsClassifier(n_neighbors=5)
model_5nn.fit(training_data[input_cols], training_data['y'])

# k = 25
model_25nn = KNeighborsClassifier(n_neighbors=25)
model_25nn.fit(training_data[input_cols], training_data['y'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=25, p=2,
                     weights='uniform')

4. Train the model on the training set, and obtain the model predictions on the test set

In [ ]:
  # Find the model's predictions on the test set.
  input_cols = ['x1', 'x2']
  test_data['prediction1'] = model_1nn.predict(test_data[input_cols])

  test_data['prediction5'] = model_5nn.predict(test_data[input_cols])

  test_data['prediction25'] = model_25nn.predict(test_data[input_cols])
  test_data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

           x1        x2  y  prediction1  prediction5  prediction25
192  0.205456  2.688558  1            1            1             1
195  0.256750  2.293605  1            0            1             1
53  -0.302275  0.886233  0            1            1             1
75   0.951265 -1.095890  0            0            0             0
147  0.125021  1.165594  1            1            1             1

5. Calculate the test accuracy score for each model.

In [ ]:
# Calculate the accuracy score on the test set.
# accuracy_score()
from sklearn.metrics import accuracy_score
score_dict = dict()
score_dict[1] = accuracy_score(test_data['y'], test_data['prediction1'])
print("Accuracy score for K = 1 :", accuracy_score(test_data['y'], test_data['prediction1']))

score_dict[5] = accuracy_score(test_data['y'], test_data['prediction5'])
print("Accuracy score for K = 5 :", accuracy_score(test_data['y'], test_data['prediction5']))

score_dict[25] = accuracy_score(test_data['y'], test_data['prediction25'])
print("Accuracy score for K = 25 :", accuracy_score(test_data['y'], test_data['prediction25']))

Accuracy score for K = 1 : 0.725
Accuracy score for K = 5 : 0.775
Accuracy score for K = 25 : 0.75

In [ ]:
max_score = score_dict[1]

print('The K value that gives the best accuracy score, we have:', end = " ")
for m in score_dict.values():
  if m > max_score:
    max_score = m

for k in score_dict.keys():
  if score_dict[k] == max_score:
    print(k, end= ' ')

The K value that gives the best accuracy score, we have: 5