<a href="https://colab.research.google.com/github/mathiasadikpon/AI/blob/main/Week6_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
# Load data set
url = "https://www.statlearning.com/s/Advertising.csv"
advertising = pd.read_csv(url, index_col=0)
advertising.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

1. Use train_test_split to split the data into training set (80%) and test set (20%).

In [ ]:
# train_test_split
from sklearn.model_selection import train_test_split
training_data, test_data = train_test_split(advertising, test_size=0.2)

2. Build a multilinear regression model with 'TV', 'Radio', and 'newspaper' as input variables and 'sales' as output variable. Name the model model_lr. Train the model on the training set and obtain model predictions on the test set.

In [ ]:
from sklearn.linear_model import LinearRegression

model_lr = LinearRegression()
input_cols = ["TV", "radio", "newspaper"]
model_lr.fit(training_data[input_cols], training_data[["sales"]]) 
predictions_lrs = model_lr.predict(test_data[input_cols])
test_data['prediction_lr'] = predictions_lrs
test_data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

        TV  radio  newspaper  sales  prediction_lr
79     5.4   29.9        9.4    5.3       8.762701
133    8.4   27.2        2.1    5.7       8.428326
28   240.1   16.7       22.9   15.9      17.139641
68   139.3   14.5       10.2   13.4      12.094925
100  135.2   41.7       45.9   17.2      16.851507

In [ ]:
from sklearn.metrics import mean_squared_error
y = test_data[['sales']].values
X = np.hstack([np.ones([len(test_data), 1]), test_data[input_cols].values])
theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
print(theta)

[[2.96078473]
 [0.04252093]
 [0.18920429]
 [0.01704122]]

In [ ]:
# Calculate the MSE cost of the toy example for the parameter values given by sci-kit learn.

theta = np.array([3.561, 0.041, 0.194, 0.004])

list_errors = []

for i in test_data.index:
    # print(i)
    x = np.array([1, test_data.loc[i, "TV"], test_data.loc[i, "radio"], test_data.loc[i, "newspaper"]])
    theta_dot_x = theta.dot(x)
    y = test_data.loc[i, "sales"]
    squared_error = (theta_dot_x - y) ** 2
    list_errors.append(squared_error)

print(list_errors)
MSE_lr = np.mean(list_errors)
print("MSE_lr:", MSE_lr)

[18.66758436, 12.184288359999998, 0.6997322499999985, 1.622821209999994, 0.031541760000000627, 0.0289340100000005, 0.7473602499999993, 0.0841580100000004, 0.06932689000000052, 1.20297024, 0.4424910400000006, 5.4709209999999935, 4.594163559999999, 1.193774760000002, 2.3740646400000025, 2.0252136099999944, 3.6046819599999935, 0.3314304899999973, 0.05239520999999974, 1.0770288400000014, 1.5602508099999963, 2.742667210000007, 0.00036864000000005523, 0.8410724099999992, 5.6591652099999905, 4.051363840000001, 1.3128576399999987, 0.20457528999999933, 0.5587562499999981, 1.225227609999999, 1.0442796099999991, 1.708249000000001, 1.2148448399999996, 1.5715129599999969, 1.9052280900000003, 0.03763600000000032, 0.24324623999999986, 3.504009609999997, 0.857846440000006, 12.313782809999976]
MSE_lr: 2.4765455739999984

3.  Build a degree 2 polynomial regression model with 'TV', 'Radio', and 'newspaper' as input variables and 'sales' as output variable. Name the model model_pr2. Train the model on the training set and obtain model predictions on the test set.

In [ ]:
input_cols = ["TV", "radio", "newspaper"]
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2, include_bias=False)
X = training_data[input_cols].values
Y = training_data["sales"].values
X_poly = poly_features.fit_transform(X)

model_pr2 = LinearRegression()
model_pr2.fit(X_poly, Y)

X_test = test_data[input_cols].values
Y_test = test_data["sales"].values
X_poly_test = poly_features.fit_transform(X_test)
predictions_pr2 = model_pr2.predict(X_poly_test)
MSE_pr2 = mean_squared_error(Y_test, predictions_pr2)

print("MSE_pr2: ", MSE_pr2)

MSE_pr2:  0.22484627390703782

4.  Build a degree 10 polynomial regression model with 'TV', 'Radio', and 'newspaper' as input variables and 'sales' as output variable. Name the model model_pr10. Train the model on the training set and obtain model predictions on the test set.

In [ ]:
input_cols = ["TV", "radio", "newspaper"]
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=10, include_bias=False)
X = training_data[input_cols].values
Y = training_data["sales"].values
X_poly = poly_features.fit_transform(X)

model_pr10 = LinearRegression()
model_pr10.fit(X_poly, Y)

X_test = test_data[input_cols].values
Y_test = test_data["sales"].values
X_poly_test = poly_features.fit_transform(X_test)
predictions_pr10 = model_pr10.predict(X_poly_test)

MSE_pr10 = mean_squared_error(Y_test, predictions_pr10)

print("MSE_pr10: ", MSE_pr10)

MSE_pr10:  725681.7659189512

 Calculate the test MSE of each model using the mean_squared_error function. Which model gives the best MSE?

In [ ]:
print('MSE_lr: ', MSE_lr)
print('MSE_pr2: ', MSE_pr2)
print('MSE_pr10: ', MSE_pr10)
print('The model that gives the best MSE is a degree 2 polynomial regression model' )

MSE_lr:  2.4765455739999984
MSE_pr2:  0.22484627390703782
MSE_pr10:  725681.7659189512
The model that gives the best MSE is a degree 2 polynomial regression model